/* header style */

#header {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1.title {
    margin-bottom: 0;
}

body {
    margin: 0;
}

/* profil-user style */

#profile {
    max-width: 1280px;
    display: flex;
    justify-content: left;
    width: 100%;
    margin: 0 auto;
    padding: 10px 20px 10px 20px;
    box-shadow: 0px 10px 10px -10px rgba(33, 35, 38, 0.1);
    
}

#profile container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar {
    text-align: center;
    margin: 10px;
}

.avatar img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.name {
    color: blueviolet;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
}

.sign-out a {
    display: block;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 20px;
}

.sign-out a:hover {
    color: #F47A66;
}

h2 {
    color: #021A6F;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.gallery {
    max-height: calc(100vh - 70px);
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.grid-container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 10px 20px 10px 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, auto);
}

.grid-container_item {
    padding-top: 100%;
    padding: 0;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* menu style */

.menu {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px;
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(5, auto);
    background-color: #021A6F;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
 
}

.menu form {
    display: inline-block;
    text-align: center;
}

.menu button {
    width: 100%;
    height: 80px;
    object-fit: cover;
    display: block;
}

.menu button:hover {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.menu button:active {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06) inset;
    transform: scale(0.98);
}

.main-button {
    background: #30CBDE;
    border: 0cm;
}

.search-button {
    background: #FFD435;
    border: 0cm;
}

.addpost-button {
    background: #CCDE57;
    border: 0cm;
}

.messages-button {
    background: #A750A5;
    border: 0cm;
}

.profile-button {
    background: #F47A66;
    border: 0cm;
}

/* main style */

.posts {
    max-height: calc(100vh - 70px);
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

@media (max-width: 600px) {
    /*mobile */
    .container {
        width: 90%;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    /*tablets */
    .container {
        width: 90%;
    }
}

@media (min-width: 1025px) {
    /*laptops*/
    .container {
        width: 90%;
    }
}